name: Makefile CI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: dmcoles/amiga-evo-cicd
      credentials:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
    steps: 
      - uses: actions/checkout@v4
      - name: run build
        run: |
           vamos -c /usr/amiga/.vamosrc -H disable -m 20000 --cwd esource: -V system:/usr/amiga -V esource:$GITHUB_WORKSPACE make EVO
      - name: compile unit tests
        run: |
           vamos -c /usr/amiga/.vamosrc -H disable -m 20000 --cwd esource: -V system:/usr/amiga -V esource:$GITHUB_WORKSPACE EVO unittests
      - name: run unit tests
        run: |
           vamos -c /usr/amiga/.vamosrc -H disable -m 20000 --cwd esource: -V system:/usr/amiga -V esource:$GITHUB_WORKSPACE unittests VAMOS
      - name: add build artifacts to publish
        run: |
          mkdir output
          cp $GITHUB_WORKSPACE/EVO output
          cd output
          lha a ../evo-dev${{ github.sha }}.lha *

      - name: Get current date
        id: date
        run: |
          echo "builddate={$(date +'%Y-%m-%d')}" >> $GITHUB_OUTPUT
      - name: Update release files and title
        uses: mini-bomba/create-github-release@v1.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: dev-build
          name: automated dev build ${{ steps.date.outputs.builddate }}
          files: evo-dev${{ github.sha }}.lha
